/* Effect that hard to use tailwind */

/* *Loading Component */
.loadingWrapper {
  height: 100vh;
	display: flex;
	align-items: center;
	background: url(https://img.freepik.com/vector-gratis/fondo-abstracto-blanco_23-2148806276.jpg?size=626&ext=jpg)
		no-repeat center;
	background-size: cover;
}
.frame {
	width: 80vw;
	height: 80vw;
	max-width: 400px;
	max-height: 400px;
	margin: 0 auto;
	border: 2px #fbfbfb solid;
	position: relative;
	box-shadow: inset 0 0 0 20px white;
	background: url('../../public/assets/camera.webp')
		no-repeat center;
	background-size: cover;
	transition: ease all 0.3s;
}
.text {
  transform: translate(
    calc(calc(22px * -1) / 2),
    calc(calc(22px * -1) / 2)
  );
  height: 100%;
  transition: ease all 0.3s;
}

/* *GalleryCard in Homepage* */
/* group hover effect will have time lag with atomic css */
.galleryCard {
  display: grid;
}
.galleryCardImg {
  grid-area: 1 / 1/ 2 / 2;
  transition: 0.5s ease-in-out;
  /* filter: brightness(1.2) contrast(0.8); */
}
/* img1 */
.galleryCardImg1 {
  filter: hue-rotate(90deg) saturate(2);
  scale: 1.2
}
.galleryCard:hover .galleryCardImg1 {
  filter: hue-rotate(0deg) saturate(0.1);
  scale: 1
}
/* img2 */
.galleryCardImg2 {
  clip-path: circle(75% at 50%)
}
.galleryCard:hover .galleryCardImg2 {
  clip-path: circle(0% at 50%)
}

/* *BlogCard in Homepage* */
.blink::after {
  content: "";
  display: block;
  position: absolute;
  top: -90px;
  left: -180px; /* */
  background: white;
  width: 50px;
  height: calc(180px + (90px * 2));
  opacity: 20%;
  transform: rotate(-45deg);
}

.blink:hover::after {
  left: 120%;
  transition: all 1200ms cubic-bezier(0.3, 1, 0.2, 1);
  -webkit-transition: all 1200ms cubic-bezier(0.3, 1, 0.2, 1);
}